@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #222222;
  color: #CBCBCB;
  font-family: "Roboto";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #CBCBCB;
}

@media screen and (max-width: 768px) {
  .wrapper50 {
    width: 500px;
    margin: auto;
  }
  .wrapper30 {
    width: 300px;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper50 {
    width: 700px;
    margin: auto;
  }
  .wrapper30 {
    width: 500px;
    margin: auto;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper50 {
    width: 1000px;
    margin: auto;
  }
  .wrapper30 {
    width: 700px;
    margin: auto;
  }
}

#overlay {
  position: fixed;
  z-index: 10;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

#maincontent {
  z-index: -2;
  padding: 0 0 140px 0;
}

.top_menu {
  height: 52px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.top_menu .center {
  width: 50%;
  margin: auto;
  height: 100%;
}

.top_menu .leftside {
  float: left;
}

.top_menu .leftside img {
  display: block;
  padding: 12px;
}

.top_menu .leftside img:hover {
  background-color: #880092;
  filter: invert();
}

.top_menu .rightside {
  float: right;
}

.top_menu .rightside a {
  height: 32px;
  padding: 11px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.top_menu .rightside a:hover {
  background: #77ff6d;
  color: #222222;
}

.top_menu .background {
  position: absolute;
  background: #222222;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.content-1 {
  width: 100%;
  height: 960px;
  display: block;
}

#maincontent .content-1 .background-video {
  position: absolute;
  z-index: -4;
  opacity: 0.8;
  width: 100%;
  overflow: hidden;
  pointer-events: none;
  transform: scale(1.02);
}

#maincontent .content-1 .background-video img {
  filter: blur(5px);
  z-index: -1;
  position: relative;
}

#maincontent .content-1 .background-video h1 {
  font-size: 15vw;
  line-height: 15vw;
  text-align: center;
  z-index: -1;
}

#maincontent .content-1 .hiddenoverflow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#maincontent .content-1 .background-video .opacitybarrier {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #22222266 50%, #222222ff 90%);
  z-index: 0;
}

.content-1 .titleandmenu {
  height: 100%;
  width: 100%;
}

.content-1 .titleandmenu table {
  text-align: center;
  position: relative;
  transform: translateY(-50%) translateX(-50%);
  top: 35%;
  left: 50%;
  width: 50%;
  height: 50%;
}

.content-1 .titleandmenu h1 {
  text-align: center;
  position: relative;
  transform: translateY(-50%) translateX(-50%);
  top: 35%;
  left: 50%;
  font-family: "Roboto";
}

.content-1 .titleandmenu table td {
  height: 50px;
  width: 100%;
}

.content-1 .titleandmenu table td a {
  display: block;
  transition: color .3s;
  color: #CBCBCB;
  height: 50px;
  line-height: 50px;
  margin: 0 20px;
  box-sizing: content-box;
  border: 2px solid #00000000;
}

.content-1 .titleandmenu table td a:hover {
  color: #ffffff;
  border: 2px solid #CBCBCBFF;
  transition: border 0.7s ease-out;
}

.content-2-container {
  background: #343434;
}

.content-1 .hiddenoverflow>h1 {
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  font-family: "Roboto";
  padding-bottom: 10px;
}

.content-1 .hiddenoverflow>h1>p {
  display: inline;
  padding-bottom: 10px;
  border-bottom: 1px solid white;
}

@media screen and (max-width: 750px) {
  .content-2-container {
    display: block;
    width: 100%;
    padding: 0;
  }
}

@media screen and (max-width: 1000px) {
  .content-2-container {
    display: block;
    width: 80%;
    padding: 0 10%;
  }
}

@media screen and (min-width: 1000px) {
  .content-2-container {
    display: block;
    width: 40%;
    padding: 0 30%;
  }
}

.content-2 {
  color: #948c87;
  padding: 40px 20px;
}

.content-2 h3 {
  color: #738D45;
  font-size: 52px;
  text-align: center;
}

.content-2 h3+p {
  text-align: center;
  color: #948c87;
  font-size: 18px;
}

.content-2.devblogthing {}

.content-2.devblogthing h3 {
  font-size: 60px;
  line-height: 65px;
  color: #ffffff;
}

.content-2.devblogthing h3+p {
  text-align: center;
  color: #ffffff;
}

.content-3 {
  padding: 30px 0;
  height: 200px;
  width: 100%;
  background: #738D45;
  color: #ffffff;
}

.content-3 .devblogthing {
  width: 500px;
  padding: 25px;
}

.content-3 p {
  padding: 20px;
}

.content-4 {}

.content-4 p {
  padding: 10px 15px;
  text-align: justify;
}

.devblog {
  padding: 5px;
  border-left: #738D45 solid 3px;
  /* border-top-left-radius: 10px;
  border-bottom-left-radius: 10px; */
  margin: 0;
  filter: hue-rotate(0deg);
}

.devblog:hover {
  background: #343434;
  filter: hue-rotate(180deg);
}

.devblog.late {
  padding: 5px;
  border-left: #EA9010 dashed 3px;
  margin: 0;
}

.devblog.masterpiece {
  padding: 5px;
  border-left: #009FFD inset 3px;
  margin: 0;
}

.devblog a {
  display: inline-block;
}

.devblog a h3.Title {
  color: #738D45;
  display: inline-block;
  padding: 5px;
}

.devblog a:hover h3 {
  color: #ffffff;
}

.devblog .Date {
  color: #738D45;
  display: inline-block;
}

.devblog .Aftertitle {
  color: #738D45;
  display: inline-block;
}

.devblog_section {
  padding: 5px 0;
}

.devblog_section .section_title {
  color: #738D45;
  font-size: 22px;
  display: inline-block;
  border-radius: 2px;
  padding: 2px 7px;
  margin: 7px auto 7px 5px;
  background: #323232;
}

.devblog_section .section_name {
  color: #738D45;
  font-size: 22px;
  padding-bottom: 5px;
  display: inline-block;
  border-radius: 2px;
  padding: 2px 7px;
  margin: 7px auto 7px 5px;
  background: darkgrey;
  color: #323232;
}

.devblog_section .section_role {
  color: #738D45;
  font-size: 22px;
  padding-bottom: 5px;
  display: inline-block;
  border-radius: 2px;
  padding: 2px 7px;
  margin: 7px auto 7px 5px;
  background: darkgrey;
  color: #323232;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.devblog_section .section_text {
  padding: 10px 15px;
  color: #948c87;
  text-align: justify;
  padding: 20px;
}

.devblog_section .sketchfab-embed-wrapper {
  display: inline;
}

.devblog_section .sketchfab-embed-wrapper p {
  display: inline-block;
}

.content-5 {}

.content-5 table {
  width: 100%;
}

.content-5 table tr {}

.content-5 table tr td {
  width: 33%;
  text-align: center;
  padding: 20px;
  vertical-align: bottom;
}

.content-5 .team_member {
  padding: 5px;
  display: inline-block;
}

.content-5 .member_position {}

.content-5 .member_name a {
  color: #738D45;
  padding: 15px;
}

.content-5 .member_name a:hover {
  color: #ffffffff;
  transition: border 0.7s ease-out;
}

.content-5 .member_icon {
  display: inline;
}

.content-5 .member_icon img {
  border-radius: 50%;
  border: #343434 solid 2px;
}

.content-5 .hiddenmember {
  filter: grayscale(1);
  opacity: 0.3;
  pointer-events: none;
}

.content-6 {
  position: relative;
  width: 90%;
  height: 700px;
  margin: auto;
}

.gallery {
  position: relative;
  display: table;
  width: 100%;
  background: #CBCBCB20;
}

.gallery .galleryitem {
  display: table-cell;
  padding: 5px 5px;
  width: 50%;
}

.gallery .galleryrow {
  display: table-row;
  padding: 0;
  margin: 0;
}

.gallery .galleryitem img {
  outline: none;
  display: block;
  cursor: pointer;
  height: inherit;
  position: relative;
}

.gallery .gallerysubtitle {
  display: block;
  padding: 10px;
  background: #CBCBCB20;
  height: 100%;
}

/* .gallery .galleryitem img:hover {
  outline: 5px solid #738D45;
  cursor: pointer;
} */

.popgallery {
  position: relative;
  height: 100%;
  width: 100%;
  display: block;
  background: #000000cc;
}

.popgallery .back a {
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 1;
  cursor: pointer;
  padding: 10px;
  font-family: "Roboto";
  height: 30px;
  width: 30px;
  text-align: center;
  vertical-align: middle;
  line-height: 30px;
  font-size: 50px;
  box-shadow: black 0px 0px 5px;
}

.popgallery .element {
  position: relative;
  margin: auto;
  width: 80%;
  padding: 2%;
  z-index: 0;
}

.teslovsnote {
  padding-top: 20px;
}

.teslovsnote .section_title {
  font-size: 26px;
  color: #738D45;
  display: inline-block;
  border-radius: 2px;
  padding: 2px 7px;
  margin: 7px auto 7px 5px;
  background: #323232;
}

.teslovsnote .section_title.additions{
  background: green;
  color: #323232;
}

.teslovsnote .section_title.changes{
  background: orange;
  color: #323232;
}

.teslovsnote .section_title.deletions{
  background: red;
  color: #323232;
}

.teslovsnote .section_name {
  display: inline-block;
  border-radius: 2px;
  font-size: 18px;
  padding: 2px 7px;
  margin: 7px auto 7px 5px;
  transform: scale(1);
  transition: padding 0.6s ease-in-out, transform 0.6s ease-in-out, filter 0.6s ease-in-out;
}

.teslovsnote .section_name.change {
  background: orange;
  color: #323232;
}

.teslovsnote .section_name.addition {
  background: green;
  color: #323232;
}

.teslovsnote .section_name.removal {
  background: red;
  color: #323232;
}

.teslovsnote .username {
  display: inline-block;
  border-radius: 2px;
  font-size: 18px;
  padding: 2px 7px;
  margin: 7px auto 7px 5px;
  background: darkgrey;
  color: #323232;
}

.teslovsnote .userrole {
  display: inline-block;
  border-radius: 2px;
  font-size: 18px;
  padding: 2px 7px;
  margin: 7px 5px 7px auto;
  background: darkgrey;
  color: #323232;
  opacity: 0;
  transition: opacity 0.3s ease-out;
}

.teslovsnote .userrole.programmer {
  background: lightblue;
}

.teslovsnote .userrole.model {
  background: purple;
  color: white;
}

.devblog_section .section_role.programmer {
  background: lightblue;
}

.devblog_section .section_role.model {
  background: purple;
  color: white;
}

.devblog_section .section_role.leadprogrammer {
  background: #722F37;
  color: white;
}

.teslovsnote .section_text {
  text-align: justify;
}

.footer {
  height: 200px;
  width: 100%;
}

.footer .leftside {
  float: left;
}

.footer .leftside img {
  display: block;
  padding: 12px;
}

.footer .rightside {
  float: right;
}

.footer .rightside a {
  float: right;
  display: block;
  color: #738D45;
  font-size: 14px;
}

.footer .rightside a:hover {
  color: #ffffff;
}

.footer .rightside ul {
  padding: 20px 0;
  list-style: none;
}

.footer .rightside li {}
