@import url("https://fonts.googleapis.com/css?family=Roboto:400,900");
* {
  margin: 0;
  padding: 0;
}

body {
  background: #222222;
  color: #CBCBCB;
  font-family: "Roboto";
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

a {
  text-decoration: none;
  color: #CBCBCB;
}

@media screen and (max-width: 768px) {
  .wrapper50 {
    width: 500px;
    margin: auto;
  }
}

@media screen and (max-width: 1000px) {
  .wrapper50 {
    width: 700px;
    margin: auto;
  }
}

@media screen and (min-width: 1000px) {
  .wrapper50 {
    width: 1000px;
    margin: auto;
  }
}

#overlay {
  position: fixed;
}

#maincontent {
  z-index: -2;
  padding: 0 0 140px 0;
}

.top_menu {
  height: 52px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.top_menu .center {
  width: 50%;
  margin: auto;
  height: 100%;
}

.top_menu .leftside {
  float: left;
}

.top_menu .leftside img {
  display: block;
  padding: 12px;
}

.top_menu .leftside img:hover {
  background-color: #880092;
  filter: invert();
}

.top_menu .rightside {
  float: right;
}

.top_menu .rightside a {
  height: 32px;
  padding: 11px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
}

.top_menu .rightside a:hover {
  background: #77ff6d;
  color: #222222;
}

.top_menu .background {
  position: absolute;
  background: #222222;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.content-1 {
  width: 100%;
  height: 960px;
  display: block;
}

#maincontent .content-1 .background-video {
  position: absolute;
  transform: scale(1.02);
  filter: blur(5px);
  z-index: -2;
  opacity: 0.8;
  width: 100%;
  overflow: hidden;
}

#maincontent .content-1 .hiddenoverflow {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: absolute;
}

#maincontent .content-1 .background-video .opacitybarrier {
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #22222266 50%, #222222ff 90%);
  z-index: 0;
}

.content-1 .titleandmenu {
  height: 100%;
  width: 100%;
}

.content-1 .titleandmenu table {
  text-align: center;
  position: relative;
  transform: translateY(-50%) translateX(-50%);
  top: 35%;
  left: 50%;
  width: 50%;
  height: 50%;
}

.content-1 .titleandmenu h1 {
  text-align: center;
  position: relative;
  transform: translateY(-50%) translateX(-50%);
  top: 35%;
  left: 50%;
  font-family: "Roboto";
}

.content-1 .titleandmenu table td {
  height: 50px;
  width: 100%;
}

.content-1 .titleandmenu table td a {
  display: block;
  transition: color .3s;
  color: #CBCBCB;
  height: 50px;
  line-height: 50px;
  margin: 0 20px;
  box-sizing: content-box;
  border: 2px solid #00000000;
}

.content-1 .titleandmenu table td a:hover {
  color: #ffffff;
  border: 2px solid #CBCBCBFF;
  transition: border 0.7s ease-out;
}

.content-2 table {
  padding: 20px 0;
}

.content-2 td {
  padding: 10px;
  width: 33%;
  vertical-align: top;
}

.content-2 td h3 {
  padding: 10px 0;
  color: #799645;
  font-size: 32px;
}

.content-2 td p {
  padding: 0 5px;
  color: #948c87;
}

.content-2 td:nth-child(1) {
  text-align: justify;
  text-align-last: left;
}

.content-2 td:nth-child(2) {
  text-align: center;
}

.content-2 td:nth-child(3) {
  text-align: justify;
  text-align-last: right;
}

.content-3 {
  padding: 30px 0;
  height: 200px;
  width: 100%;
  background: #738D45;
  color: #ffffff;
}

.content-3 .weeklyupdatething {
  width: 500px;
}

.content-3 p {
  padding: 20px;
}

.content-4 {
  border-radius: 10px;
}

.devblog {
  padding: 10px;
}

.devblog a h3.Title {
  color: #738D45;
  display: inline;
}

.devblog a h3.Title:hover {
  color: #ffffff;
}

.devblog_section {
  padding: 5px 0;
}

.section_title {
  color: #738D45;
  display: inline;
  font-size: 30px;
  line-height: 30px;
}

.section_name {
  display: inline-block;
  color: #738D45;
  font-size: 15px;
  padding-bottom: 5px;
}

.section_text {
  padding: 10px 15px;
  color: #948c87;
  text-align: justify;
}

.devblog_section .sketchfab-embed-wrapper {
  display: inline;
}

.devblog_section .sketchfab-embed-wrapper p {
  display: inline-block;
}

.content-5 {}

.footer {
  height: 200px;
  width: 100%;
}

.footer .leftside {
  float: left;
}

.footer .leftside img {
  display: block;
  padding: 12px;
}

.footer .rightside {
  float: right;
}

.footer .rightside a {
  float: right;
  display: block;
  color: #738D45;
  font-size: 14px;
}

.footer .rightside a:hover {
  color: #ffffff;
}

.footer .rightside ul {
  padding: 20px 0;
  list-style: none;
}

.footer .rightside li {}
