*{
  margin: 0;
  padding: 0;
}

body {
  background: #222222;
  color: #CBCBCB;
  font-family: sans-serif;
}

a{
  text-decoration: none;
  color: #CBCBCB;
}

#overlay{
  position: fixed;
}

#maincontent{
  z-index: -2;
}

.top_menu{
  height: 50px;
  width: 100%;
  position: relative;
  z-index: 1;
}

.top_menu a{
  height: 100%;
  padding: 10px;
  text-align: center;
  vertical-align: middle;
}

.top_menu .center{
  width: 70%;
  margin: auto;
  height: 100%;
}

.top_menu .leftside{
  float: left;
}

.top_menu .rightside{
  float: right;
}

.top_menu .background{
  position: absolute;
  background: #222222;
  height: 100%;
  width: 100%;
  z-index: -1;
}

.content-1{
  position: relative;
  width: 100%;
  height: 100%;
}

#maincontent .content-1 .background-video{
  position: absolute;
  transform: scale(1.02);
  filter: blur(5px);
  z-index: -2;
  opacity: 0.8;
  width: 100%;
}

#maincontent .content-1 .background-video .opacitybarrier{
  position: absolute;
  height: 100%;
  width: 100%;
  background: linear-gradient(to bottom, #22222266 50%, #222222ff 90%);
  z-index: 0;
}

.content-1 .title{
  position: relative;
  display: inline-flex;
}

.content-1 .title h1{
  display: inline;
  font-family: cursive;
}
