---
layout: default
---

<div class="home">

  {{ content }}

  {%- if site.posts.size > 0 -%}
  <h2 class="mycelium post-list-heading">Devblogs</h2>
  <div class="mycelium post-list">
    {%- for post in site.categories.mycelium limit:2-%}
    <div>
      <div>
        {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
        <span class="mycelium post-meta">{{ post.date | date: date_format }}</span>
        <h3>
          <a class="mycelium post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
        {{ post.excerpt }}
        <a class="mycelium post-read" href="{{ post.url | relative_url }}">
          -read more-
        </a>
        {%- endif -%}
      </div>
    </div>
    {%- endfor -%}
  </div>
  {%- endif -%}

</div>
